/*                                                 *** ----------------------------------------------- **
**             Calliope - Site Generator   	       **
** ----------------------------------------------- **
**  Copyright (c) 2020-2021 - Kyle Derby MacInnis  **
**                                                 **
**    Any unauthorized distribution or transfer    **
**       of this work is strictly prohibited.      **
**                                                 **
**               All Rights Reserved.              **
** ----------------------------------------------- **
\*                                                 */
.pixos {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    width: 100%;
    text-shadow: #3f3f3f 2px 2px 0px;
    position: relative;
    padding: 2.5em;
    align-items: center;
    align-content: center; }
  
  .renderSurface {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }
  
  .materialSelector {
    background: rgba(0, 0, 0, 0.6);
    margin: auto;
    position: relative; }
    .materialSelector tr {
      height: 70px; }
    .materialSelector td {
      background-position: 0px 0px;
      cursor: pointer;
      margin: 0;
      opacity: 0.3;
      padding: 0;
      width: 70px; }
      .materialSelector td:hover {
        opacity: 0.8; }
  
  .nickname {
    color: #ffffff;
    cursor: default;
    left: 42%;
    position: absolute;
    top: 40%;
    width: 300px; }
    .nickname input {
      background: none;
      border-bottom: 1px solid #888888;
      border: none;
      color: white;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 24px;
      outline: none;
      width: 100%; }
  
  .joininfo {
    color: #ffffff;
    cursor: default;
    font-size: 24px;
    position: absolute;
    text-align: center;
    top: 42%;
    width: 99%; }
  
  .chatbox {
    background: rgba(0, 0, 0, 0.6);
    bottom: 55px;
    color: white;
    cursor: default;
    height: 195px;
    left: 20px;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    width: 600px; }
  
  .chatbox_text {
    bottom: 8px;
    position: absolute;
    text-shadow: none; }
  
  .chatbox_entry {
    background: rgba(0, 0, 0, 0.6);
    border: none;
    bottom: 18px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    height: 30px;
    left: 20px;
    outline: none;
    padding-bottom: 2px;
    padding-left: 10px;
    position: absolute;
    width: 610px; }
  